.exhibition-obj {
  #search-result {
    overflow: scroll;
    position: relative;
  }

  .email-card {
    position: fixed;
    z-index: 10;
    cursor: pointer;
    width: 100vw;
    transition: all 1s ease 1s;

    &.email-card__open {
      bottom: 0px;
      transition: all 1s ease 1s;
    }

    &.email-card__block {
      
    }
  }
}